.create-client-form-container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  padding: 30px;
  color: #124e66;
  border-radius: 15px;
  box-shadow: 0 8px 20px #124e66;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  max-height: 500px;
}

.create-client-title {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 1%;
  margin-bottom: 5%;
  font-weight: 700;
  color: #124e66;
}

.create-client-label {
  display: block;
  margin-top: 10px;
  margin-left: 10%;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  color: #124e66;
}

.create-client-input,
.create-client-select {
  display: block;
  width: 80%;
  padding: 12px;
  margin-top: 5px;
  margin-left: 10%;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.create-client-input:focus,
.create-client-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.create-client-button {
  padding: 12px 20px;
  background-color: #124e66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
  width: 150px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5%;
  transition: background-color 0.3s, transform 0.3s;
}

.create-client-button:hover {
  background-color: black;
  transform: translateY(-2px);
}

.common {
  margin: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .create-client-form-container {
    padding: 20px;
  }

  .create-client-title {
    font-size: 1.8rem;
    margin-bottom: 4%;
  }

  .create-client-label {
    margin-left: 5%;
    font-size: 0.9rem;
  }

  .create-client-input,
  .create-client-select {
    width: 90%;
    margin-left: 5%;
  }

  .create-client-button {
    width: 100%;
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .create-client-form-container {
    padding: 15px;
  }

  .create-client-title {
    font-size: 1.6rem;
    margin-bottom: 3%;
  }

  .create-client-label {
    margin-left: 0;
    font-size: 0.8rem;
  }

  .create-client-input,
  .create-client-select {
    width: 100%;
    margin-left: 0;
  }

  .create-client-button {
    width: 100%;
    font-size: 11px;
    padding: 8px;
  }
}
