.passwordreset {
  background-image: url("../media/backgroundgeneral.png");
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.flex-container-pw {
  width: 100%;
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pw-container {
  width: 100%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 30px #124e66;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.h1styles {
  font-weight: bold;
  margin-bottom: 20px;
  color: #212a31;
  font-size: 24px;
  text-align: center;
}

.form-label-pw {
  display: block;
  margin: 10px 0 5px;
  color: #555;
  font-weight: 500;
}

.form-control-pw {
  width: 100%;
  padding: 12px;
  border: 1px solid #748d92;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-control-pw:focus {
  border: 2px solid #212a31;
  outline: none;
}

.button-container-pw {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.go-back-button,
.reset-button {
  color: white !important;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 20px;
  margin-bottom: 10px;
}

.go-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #748d92;
}

.go-back-button:hover,
.reset-button:hover {
  background-color: #124e66 !important;
}

.reset-button {
  background-color: #212a31 !important;
  width: 100%;
}

.logo-pw {
  height: auto;
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

#message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
  text-align: center;
}
.otp-timer {
  margin-bottom: 20px;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1245px) {
  .passwordreset {
    flex-direction: row;
  }

  .flex-container-pw {
    flex-direction: row;
  }

  .pw-container {
    padding: 40px;
    margin-right: 20px;
    min-width: 450px;
    max-width: 600px;
    margin-left: 100px;
  }

  .h1styles {
    font-size: 30px;
  }

  .button-container-pw {
    flex-direction: row;
  }

  .reset-button {
    width: 167px;
    margin-bottom: 0;
  }

  .logo-pw {
    height: 600px;
    width: auto;
    max-width: 600px;
    margin-right: 20px;
    margin-left: 0;
  }
}
